BasedOnStyle: Microsoft
IndentWidth: 4
IndentCaseLabels: true
UseTab: Never
PointerAlignment: Left
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AllowShortFunctionsOnASingleLine: Empty
AlignAfterOpenBracket: Align
AlignArrayOfStructures: Right
BreakBeforeBraces: Allman
ColumnLimit: 80
